* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 0px;
  background-color: black;
  color: white;
}

.Ig{
  padding: 5px 0px;
  margin: 0px 5px;
  color: white;
}

.Ig .first{
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.first .ffirst{
  /* width: 50%; */
  display: flex;
  justify-content: space-between;
}

.first .ffirst span.material-icons-outlined{
  margin: 25px 0px 0px 0px;
  font-weight: lighter;
}

.first .sfirst{
  display: flex;
  justify-content: space-between;
  margin: 25px 0px 0px 0px;
}

.first .sfirst span:nth-child(1){
  margin-right: 15px;
}

.first .sfirst span:nth-child(2){
  margin-right: 15px;
}

.circle{
  display: flex;
}

 .circle .fmiddle{
  width: 85px;
  height: 85px;
  margin-top: 65px;
  border-radius: 50%;
  background-color :white;
  position: relative;
}

.circle .ub{
  position: absolute;
  top: 150px;
}

.circle .pandf{
  display: flex;
  margin-left: 30px;
}

.circle .pandf p{
  margin: 80px 0px 0px 20px;
  text-align: center;
}

.middle .pro{
  display: flex;
  margin-top: 30px;
}

.pro p{
  width: 92%;
  height: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 130px;
  border: 1px solid grey;
  border-radius: 5px;
}

.pro span{
  width: 8%;
  height: 30px;
  font-size: 20px;
  margin: 15px 0px 0px 7px;
  border: 1px solid grey;
  border-radius: 5px;
  padding-top: 3px;
  padding-left: 3px;
  font-weight: lighter;
}
