* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 0px;
  background-color: black;
  color: white;
}

/* Instagram */
.Ig{
  padding: 0px 0px;
  margin: 0px 5px;
  color: white;
}

/* Handle and icons */
.Ig .first{
  display: flex;
  justify-content: space-between;
  position: fixed;
  margin-top: -10px;
  width: 100%;
  background-color: black;
}

.first .ffirst{
  display: flex;
  justify-content: space-between;
}

.first .ffirst span.material-icons-outlined{
  margin: 25px 0px 0px 0px;
  font-weight: lighter;
}

.first .sfirst{
  display: flex;
  justify-content: space-between;
  margin: 25px 0px 0px 0px;
}

.first .sfirst span:nth-child(1){
  margin-right: 15px;
}

.first .sfirst span:nth-child(2){
  margin-right: 15px;
  font-size: 35px;
  margin-top: -3px;
}

.sfirst .add{
  border: 2px solid white;
  padding: 0px;
  height: 27px;
  border-radius: 8px;
}
/* Handle and icons end*/

/* Middle section */
/* Profile photo, posts, followers and followings  */
.circle{
  display: flex;
}

.circle .pfp{
  display: block;
  margin-top: 70px;
}

.circle span{
  font-size: 80px;
  background-color: white;
  border-radius: 50%;
}

.circle .ub{
  margin-top: 5px;
}

.circle .pandf{
  display: flex;
  margin-left: 10px;
}

.circle .pandf p{
  margin: 80px 0px 0px 20px;
  text-align: center;
}
/* Profile photo, posts, followers and followings end*/

/* Edit profile */
.middle .pro{
  display: flex;
  margin-top: 0px;
}

.pro p{
  width: 92%;
  height: 30px;
  border: 1px solid grey;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 130px;
}

.pro span{
  width: 8%;
  height: 30px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 20px;
  margin: 15px 0px 0px 7px;
  padding-top: 3px;
  padding-left: 3px;
  font-weight: lighter;
}
/* Edit profile ends */

/* Highlights */
.higlights{
  margin-top: -20px;
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
}

.higlights span{
  margin-top: 15px;
  font-size: 15px;
}
/* Highlights end */

/* Stories */
.circles{
  display: flex;
  justify-content: space-evenly;
}

.new-story{
  display: block;
}

.circles span{
  height: 60px;
  width: 60px;
  margin-top: -3px;
  left: 35px;
  font-size: 30px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 15px 14px 15px 14px;
}

.new-story p{
  margin-top: 5px;
  margin-left: 15px;
}

.circles .round{
  margin-top: -3px;
  width: 55px;
  height: 55px;
  background-color: #727272;
  border-radius: 50%;
}
/* Stories end */

/* Posts and tags */
.posts-and-tags{
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.posts-and-tags .tag{
  color: grey;
}

.line{
  width: 50%;
  height: 1px;
  background-color: white;
  margin-top: 10px;
  margin-left: -5px;
}
/* Posts and tags end*/

/* Pictures */
.pictures{
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 3px;
  /* background-color: black; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
}

.pictures .pic{
 background-color: grey;
 height: 110px;
}

/* Pictures end */

/* Last icons  */
.last .last-icons{
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  margin-top: 300px;
  width: 100%;
  margin-left: -5px;
  background-color: black;
  height: 100px;
}

.last-icons span{
  font-size: 30px;
  margin-top: 3px;
}
/* Last icons end */
